/* src/styles/navbar.scss */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fedba6;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px; /* Размер логотипа */
  height: auto;
  margin-right: 10px; /* Отступ между логотипом и названием */
}

.navbar h1 {
  font-size: 24px;
}

.navbar-link {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}
